In [3]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [2]:
df = pd.read_csv('data/iris.txt')

In [13]:
df_char = df.select_dtypes(exclude = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64'])
encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False).set_output(transform='pandas')
data_hot_encoded = encoder.fit_transform(df_char)

In [15]:
data_hot_encoded

     classe_Iris-setosa  classe_Iris-versicolor  classe_Iris-virginica
0                   1.0                     0.0                    0.0
1                   1.0                     0.0                    0.0
2                   1.0                     0.0                    0.0
3                   1.0                     0.0                    0.0
4                   1.0                     0.0                    0.0
..                  ...                     ...                    ...
145                 0.0                     0.0                    1.0
146                 0.0                     0.0                    1.0
147                 0.0                     0.0                    1.0
148                 0.0                     0.0                    1.0
149                 0.0                     0.0                    1.0

[150 rows x 3 columns]